<div class="row">
  <img src="./assets/gears.gif" />
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <table class="table">
      <tbody>
        <tr>
          <tr>
            <td>
              <strong>Inicio</strong>
            </td>
            <td>08:30:00</td>
          </tr>
          <tr>
            <td>
              <strong>Tiempo Trabajado</strong>
            </td>
            <td>02:02:23</td>
          </tr>
          <tr>
            <td>
              <strong>Tiempo Pausado</strong>
            </td>
            <td>00:20:01</td>
          </tr>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <hr />
</div>
<div class="row">
  <div class="btn-group">
    <button class="btn btn-success btn-xlarge">
      <span class="glyphicon glyphicon-play"></span>
    </button>
    <button class="btn btn-secondary btn-xlarge">
      <span class="glyphicon glyphicon-pause"></span>
    </button>
    <button class="btn btn-danger btn-xlarge">
      <span class="glyphicon glyphicon-stop"></span>
    </button>
  </div>
</div>
