<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand" href="" id="navbar-profile-logo">
        <p>AngularJS + Electron</p>
      </div>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li uib-dropdown>
        <a ui-sref="layout.home" ui-sref-active="active">Inicio</a>
      </li>
      <li uib-dropdown>
        <a uib-dropdown-toggle href="#!">
          Ver<span class="caret"></span>
        </a>
        <ul uib-dropdown-menu>
          <li>
            <a href="">Mi Usuario</a>
          </li>
          <li>
            <a href="">Clientes Asignados</a>
          </li>
          <li>
            <a href="">Proyectos Asignados</a>
          </li>
          <li>
            <a href="">Servicios Activos</a>
          </li>
          <li>
            <a href="">Centros de Profile</a>
          </li>
        </ul>
      </li>
      <li uib-dropdown>
        <a uib-dropdown-toggle href="#!">
          Gestión Actividad<span class="caret"></span>
        </a>
        <ul uib-dropdown-menu>
          <li>
            <a href="">Lista de Actividad</a>
          </li>
          <li>
            <a href="">Vacaciones</a>
          </li>
          <li>
            <a href="">Resumen de Actividad</a>
          </li>
          <li>
            <a href="">Registro Laboral</a>
          </li>
        </ul>
      </li>
      <li uib-dropdown>
        <a uib-dropdown-toggle href="#!">
          Info. Empleado<span class="caret"></span>
        </a>                <ul uib-dropdown-menu>
          <li>
            <a href="">Asistencia a Eventos</a>
          </li>
          <li>
            <a href="">Centros de Asistencia Médica</a>
          </li>
          <li>
            <a href="">Certificaciones y Cursos</a>
          </li>
          <li>
            <a href="">Enfermedades y Bajas Médicas</a>
          </li>
          <li>
            <a href="">Formaciones y Workshops</a>
          </li>
          <li>
            <a href="">Parte de Gastos</a>
          </li>
          <li>
            <a href="">Plus Amigo</a>
          </li>
          <li>
            <a href="">Prevención de Riesgos Laborales</a>
          </li>
          <li>
            <a href="">Retenciones</a>
          </li>
          <li>
            <a href="">Retibución Flexible</a>
          </li>
          <li>
            <a href="">Teletrabajo</a>
          </li>
          <li>
            <a href="">Teléfonos y Extensiones</a>
          </li>
        </ul>
      </li>
      <li>
        <a ui-sref="layout.comments" ui-sref-active="active">
          Comentarios
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="">
          <span class="badge">14</span>
          <span class="glyphicon glyphicon-bell"></span>
          Notificaciones
        </a>
      </li>
      <li uib-dropdown>
        <a uib-dropdown-toggle href="#!">
          <span class="glyphicon glyphicon-user"></span> Pepito<span class="caret"></span>
        </a>
        <ul uib-dropdown-menu>
          <li><a ui-sref="login" ui-sref-active="active"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesión</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
